{% extends "base_kline.html" %}
{% from "_formhelpers.html" import render_field %}


{% block content %}
<!-- enctype="multipart/form-data" -->
<form id="form1" method="post" name="input_sql_query", action='/sql_analysis'>

<div class="row">
<div class="col-lg-10 col-xs-10">
    {{render_field(form.sql, size=200)}}
</div>
</div>

<!-- <p><input type="submit" value="分析" name="sql_analysis" onclick="getData()"></p> -->
<p><input type="submit" value="分析" name="sql_analysis" onclick=getData()></p>
</form>

<!-- <table id = 'sql_desc'></table>
<script>
    //   var data = [{name: "Andy",Age:18,Blogs:"OSC"},{name: "Lily",Age:21,Blogs:"OSC111"},{name: "Bou",Age:32,Blogs:"OSCsss"},];
    var data = [{'col': 'dayno', 'comment': '日期', 'dtype': 'string', 'id': 0}, {'col': 'imei', 'comment': 'imei', 'dtype': 'string', 'id': 1}, {'col': 'sc', 'comment': '自定义', 'dtype': 'string', 'id': 2}, {'col': 'expose_nums', 'comment': '曝光量', 'dtype': 'bigint', 'id': 3}, {'col': 'evt_nums', 'comment': '应扣下载量', 'dtype': 'bigint', 'id': 4}, {'col': 'acc_nums', 'comment': '实扣下载量', 'dtype': 'bigint', 'id': 5}, {'col': 'acc_cost', 'comment': '实扣金额', 'dtype': 'bigint', 'id': 6}];
    var html;
    $.each(data, function getData(index, item) {
        if (index === 0) {
            html += "<tr>";
            $.each(item, function (vlaIndex) {
                html += "<td>";
                html += vlaIndex;
                html += "</td>";
            });
            html += "</tr>";
        }
        html += "<tr>";
        $.each(item, function (vlaIndex, valItem) {
            html += "<td>";
            html += valItem;
            html += "</td>";
        });
        html += "</tr>";
    });
    $("#sql_desc").html(html);
    
    </script> -->
{% endblock %}